 {{#if prods}}
 <table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Foto</th>
        </tr>
    </thead>
    <tbody>
        {{#each prods}}
            <tr>
                <td>{{this.title}}</td>
                <td>$ {{this.price}}</td>
                <td>
                    {{#if this.thumbnail}}
                        <img class="img-fluid" style="max-width: 20%;" src="{{this.thumbnail}}" alt="imagen de producto">
                    {{else}}
                        <img class="img-fluid" style="max-width: 20%;" src="https://cdn0.iconfinder.com/data/icons/images-image-files/24/photo_photography_image_picture_no_disable-512.png" alt="Producto sin imagen">
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <div class="alert alert-warning">Sin productos</div>
{{/if}}