<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            {{> navbar}}
    </nav>

    
    
    <div class="container">

        <div class="row">
            
            <h2>CARRITO!</h2>

            {{#if prods}}

                <div class="col-md-8">

                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Foto</th>
                                    <th scope="col">Acciòn</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{#each prods}}
                                    <tr>
                                        <td>{{this.name}}</td>
                                        <td>{{this.code}}</td>
                                        <td>$ {{this.price}}</td>
                                        <td>
                                            <div class="input-group input-group-sm mb-3">
                                                <input type="number" class="form-control" value="1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                        </td>
                                        <td>
                                            {{#if this.thumbnail}}
                                                <img style="max-width:25%;" src="{{this.thumbnail}}" alt="imagen de producto">
                                            {{else}}
                                                <img style="max-width: 25%;" src="https://cdn0.iconfinder.com/data/icons/images-image-files/24/photo_photography_image_picture_no_disable-512.png" alt="Producto sin imagen">
                                            {{/if}}
                                        </td>
                                        <td>
                                            <a href="#" data-prod-id="{{this._id}}" class="btn btn-danger remove-from-cart">Quitar</a>
                                        </td>
                                        
                                    </tr>
                                {{/each}}
                                <tr>
                                    <td>Monto total</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>$ {{totalPrice}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                                

                </div>

                <div class="col-md-4">
                    <a href="/checkuot">Finalizar Compra</a>
                </div>

            {{else}}

                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <p>Sin productos</p>
                        <p>No hay productos en tu carrito</p>
                    </div>
                </div>

            {{/if}}

        </div><!-- ./row -->

    </div><!-- /.container -->


    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="./js/cart.js"></script>
</body>
</html>