
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 12 - Process</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Desafio 12</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <ul class="nav navbar-nav">
                            <li><a>Bienvenido {{userEmailLoggedIn}}</a></li>
                        </ul>
                    </ul>

                    <ul class="nav navbar-nav float-end">
                        <li><a class="btn" href="/">Home</a></li>
                        <li><a class="btn" href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a>Bienvenido {{userLoggedIn}}</a></li>
                        <li><a href="/">Home</a></li>
                    </ul>
 
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
 
        <div class="container row">
           <h2>Hola {{userLoggedIn}}</h2>
           <h3>Info</h3>
        </div>

    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-12">
                
                <ul>
                    <li>Argumentos de entrada: {{dataObj.argv}}</li>
                    <li>Plataforma/OS: {{dataObj.platform}}</li>
                    <li>Memoria total reservada: {{dataObj.rssMemory}}</li>
                    <li>Path ejecucion: {{dataObj.execPath}}</li>
                    <li>Process ID: {{dataObj.processId}}</li>
                    <li>Directorio del proyecto: {{dataObj.actualDir}}</li>
                </ul>
            
            </div>


        </div>
    </div>

    
    
    
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="./js/dashboard.js"></script>

</body>
</html>